/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Обнуляем стили по-умолчанию */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-decoration: none;
}
button {
    border: none;
    background: transparent;
}
.container {
    max-width: 2560px;
    width: 100%;
}
.content-container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
.flex-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-center {
    margin: auto;
}
/* -------------------------- Шапка страницы -------------------------- */
.header-page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.header-page {
    width: 100%;
    background-color: #222222;
}
.nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1130px;
    width: 100%;
    padding: 20px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}
.nav-item-logo-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 110px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
/* ------------------------ Создаем элемент меню ------------------------- */
.menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 23px;
    border: none;
    background: transparent;
    color: #e8e8e8;
}
.menu-button:hover {
    color: red;
}
.menu-button:active {
    color: blue;
}
.menu-button-item {
    position: relative;
    width: 100%;
    height: 3px;
    background: currentColor;
    margin: auto;
}
.menu-button-item::before,
.menu-button-item::after {
    content: "";
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: currentColor;
}
.menu-button-item::before {
    top: -10px;
    left: 0;
}
.menu-button-item::after {
    top: 10px;
    left: 0;
}
.nav-item-menu-user-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 170px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: center;
}
.button-basket {
    position: relative;
    color: #ffffff;
}
.navbar-search,
.navbar-user,
.navbar-basket {
    fill: #e8e8e8;
    color: #ffffff;
}
.navbar-search:hover,
.navbar-user:hover,
.navbar-basket:hover {
    fill:red;
}
.navbar-search:active,
.navbar-user:active,
.navbar-basket:active {
    fill:blue;
}
.navbar-basket-txt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border: 1px solid red;
    border-radius: 50%;
    color: currentColor;
    background: red;
    top: -8px;
    right: -11px;
}
.brand {
    width: 100%;
    background-color: #F1E4E6;
}
.brand-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.brand-img {
    max-width: 800px;
    width: 100%;
}
/* -------------------- Создаем блок брэнда старницы ------------------ */
.brand-txt {
    color: #222222;
}
.brand-titles-wrapper {
    position: relative;
    text-transform: uppercase;
    margin-top: 290px;
    margin-left: 93px;
}
.brand-titles-wrapper::before {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    top: -1px;
    left: -29px;
}
.brand-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.brand-subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.brand-subtitle span {
    color: #f16d7f;
}
/* ----------------------- Блок категорий товаров --------------------- */
.category-list {
    display: -ms-grid;
    display: grid;
    /*grid-template-columns: minmax(auto, 360px) minmax(auto, 360px) minmax(auto, 360px);*/
    -ms-grid-columns: minmax(auto, auto) 30px minmax(auto, auto) 30px minmax(auto, auto);
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-gap: 30px;
    margin-top: 65px;
    list-style-type: none;
    justify-items: center;
}
.category-item {
    position: relative;
}
.last-block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    grid-row: 2;
}
.dark-background {
    background: rgb(33, 22, 22);
    overflow: hidden;
}
.dark-background img {
    opacity: 0.3;
    display: block;
}
.category-head-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    /* Выравнивание текста заголовков категорий */
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* --------------------------------------- */
}
.category-text-large {
    font-size: 24px;
    font-weight: 700;
}
.header-text-red {
    color: #F16D7F;
}
/* ------------------------ Блок карточек товаров ---------------------- */
.card-list-header {
    margin-top: 96px;
    font-weight: 400;
    text-align: center;
}
.card-list-header h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #222222;
}
.card-list-header span {
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.card-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: minmax(auto, 360px) minmax(auto, 360px) minmax(auto, 360px);
    grid-template-columns: minmax(auto, auto) minmax(auto, auto) minmax(auto, auto);
    grid-gap: 30px;
    margin-top: 48px;
    margin-bottom: 48px;
    list-style-type: none;
    justify-items: center;
}
.img-card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #f7e4e2;
}
.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    position: relative;
}
.card-header {
    margin-top: 25px;
    margin-left: 18px;
    margin-right: 30px;
}
.card-head {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.card-txt {
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.card-price {
    display: block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.card-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 188px;
    left: 32.7%;
}
.card-button svg {
    fill: #fff;
    margin: 0 11px 0 0;
}
.card:hover .img-card-wrapper {
    background: #3A3838DB;
}
.card:hover .card-button {
    display: flex;
}
.card:hover .card-button:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}
.card:hover .card-button:hover svg {
    fill: #000000;
}
.card:hover .card-button:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.card:hover .card-button:active svg {
    fill: #ffffff;
}
.card:hover .card-img {
    filter: brightness(50%);
}
.card-list-button {
    background-color: white; 
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    cursor: pointer;
}
.card-list-button:hover {
    text-decoration: underline;
}
/* --------------------------- Подвал страницы -------------------------*/
.features {
    margin-top: 95px;
    background: #222224;
}
.features-wrapper {
    padding: 104px 0;
}
.features-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
}
.features-item svg {
    fill: #f16d7f;
    height: 40px;
}
.features-item h3 {
    margin-top: 24px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}
.features-item span {
    margin-top: 16px;
    padding: 0 29px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
/* ---------------------------- Блок подписки --------------------------*/
.subscribe {
    background-image: url(../img/photo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.subscribe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.subscribe-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 97px;
    margin-bottom: 126px;
}
.subscribe-photo-face {
    max-width: 360px;
    width: 100%;
}
.subscribe-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 25px;
}
.subscribe-text span {
    font-style: italic;
}
.subscribe-form-wrapper {
    text-transform: uppercase;
    font-size: 24px;
    /*line-height: 167.2%;*/
    line-height: 40px;
    text-align: center;
    color: #222224;
    margin: 0 104px;
}
.subscribe-title {
    display: block;
    font-weight: 700;
}
.subscribe-subtitle {
    display: block;
    font-weight: 400;
    font-size: 18px;
}
.subscribe-form {
    position: relative;
}
.email {
    margin-top: 20px;
    height: 50px;
}
.subscribe-form-email {
    border: none;
    /*border-radius: 25px 0 0 25px;*/
    border-radius: 25px 25px 25px 25px;
    width: 323px;
    background: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    padding-left: 25px;
}
.subscribe-form-button {
    position: absolute;
    width: 100px;
    border: 2px solid #F16D7F;
    border-radius: 0 25px 25px 0;
    background: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    left: 248px;
}
.subscribe-form-button:hover {
    text-decoration: underline;
}
.social-contacts {
    background: #222224;
}
.social-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
}
.social-wrapper span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.social-items {
    display: flex;
    justify-content: space-between;
    width: 148px;
    height: 32px;
}
.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    fill: #000000;
}
.social-item:hover {
    background: #f16d7f;
    fill: #ffffff;
}
.social-item:active {
    background: green;
    fill: #ffffff;
}
