/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Обнуляем стили по-умолчанию */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
}

.container {
    max-width: 2560px;
    width: 100%;
}
.content-container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
.flex-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-center {
    margin: auto;
}
/* -------------------------- Шапка страницы -------------------------- */
.header-page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.header-page {
    position: relative;
    width: 100%;
    background-color: #222222;
}
.nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1130px;
    width: 100%;
    padding: 20px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}
.nav-item-logo-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 110px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
/* --------------------- Поиск ---------------------- */
.search-icon-form {
    width: 30px;
    height: 30px;
    margin: 0 0 0 30%;
    position: relative;
}
.search-icon-form-label {
    display: block;
    width: 100%;
    height: 100%;
}
.search-icon-form-label:hover .navbar-search {
    fill: #f16d7f;
}
.search-icon-form-label:active .navbar-search {
    fill: #ffffff;
}
.search-icon-form-input:focus {
    z-index: 3;
}
.navbar-search {
    width: 100%;
    height: 100%;
    fill: #fff;
}
.search-icon-form-input {
    width: 200px;
    min-height: 20px;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    position: absolute;
    top: 0px;
    left: 45px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    z-index: -1;
}
/* ------------------------ Создаем элемент меню ------------------------- */
.menu-button {
    display: flex;
    width: 32px;
    height: 23px;
    border: none;
    background: transparent;
    color: #e8e8e8;
}
.menu-button:hover {
    transform: scale(1.2);
}
.menu-button:active {
    transform: scale(1);
}
.menu-button-item {
    position: relative;
    width: 100%;
    height: 3px;
    background: currentColor;
    margin: auto;
}
.menu-button-item::before,
.menu-button-item::after {
    content: "";
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: currentColor;
}
.menu-button-item::before {
    top: -10px;
    left: 0;
}
.menu-button-item::after {
    top: 10px;
    left: 0;
}
.menu-button-input {
    display: none;
}
.menu-button-input:checked ~ .menu-btn-lst {
    visibility: visible;
}
.menu-btn-lst {
    display: block;
    position: absolute;
    visibility: hidden;
    padding: 17px 0 0 34px;
    width: 18.2%;
    height: 747px;
    top: 100%;
    right: 0;
    list-style-type: none;
    background: #ffffff;
    -webkit-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.21);
    z-index: 10;
}
.menu-btn-item:first-child {
    margin-bottom: 24px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.menu-btn-item:nth-child(n+2) {
    margin-bottom: 20px;
}
.menu-btn-item > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    text-transform: uppercase;
}
.menu-btn-slst {
    margin-top: 12px;
    list-style-type: none;
}
.menu-btn-slst-item:nth-child(n+2) {
    margin-top: 11px;
}
.menu-btn-slst-item > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
/* ----------- Эффект наведения и активации элементов меню ------------ */
.menu-btn-item > a:hover {
    border: 3px solid #cccccc;
    border-radius: 5px;
    background: #cccccc;
    color: #000000
}
.menu-btn-slst-item > a:hover {
    text-decoration: underline;
}
.menu-btn-item > a:active {
    border: 3px solid #ffffff;
    background: #ffffff;
    color: #000000
}
.menu-btn-slst-item > a:active {
    color: #f16d7f;
}
/* -------------------------------------------------------------------- */
.nav-item-menu-user-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 170px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: center;
}
.button-basket {
    position: relative;
    color: #ffffff;
}
.navbar-search,
.navbar-user,
.navbar-basket {
    fill: #e8e8e8;
}
.navbar-search:hover,
.navbar-user:hover,
.navbar-basket:hover {
    transform: scale(1.2); 
}
.navbar-search:active,
.navbar-user:active,
.navbar-basket:active {
    transform: scale(1);
}
.navbar-basket-txt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border: 1px solid red;
    border-radius: 50%;
    color: currentColor;
    background: red;
    top: -8px;
    right: -11px;
}
/* -------------------- Создаем блок брэнда старницы ------------------ */
.brand {
    width: 100%;
    background-color: #F1E4E6;
}
.brand-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.brand-img {
    max-width: 800px;
    width: 100%;
}
.brand-img > img {
    display: block;
}
.brand-txt {
    color: #222222;
}
.brand-titles-wrapper {
    position: relative;
    text-transform: uppercase;
    margin-top: 290px;
    margin-left: 93px;
}
.brand-titles-wrapper::before {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    top: -1px;
    left: -29px;
}
.brand-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.brand-subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.brand-subtitle span {
    color: #f16d7f;
}
/* ----------------------- Блок категорий товаров --------------------- */
.category-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: minmax(auto, 360px) minmax(auto, 360px) minmax(auto, 360px);
    -ms-grid-columns: minmax(auto, auto) 30px minmax(auto, auto) 30px minmax(auto, auto);
    grid-gap: 30px;
    margin-top: 65px;
    list-style-type: none;
    justify-items: center;
}
.category-item {
    position: relative;
}
.last-block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    grid-row: 2;
}
.dark-background {
    background: rgb(33, 22, 22);
    overflow: hidden;
}
.dark-background img {
    opacity: 0.3;
    display: block;
}
.category-head-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    /* Выравнивание текста заголовков категорий */
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
/* --------------------------------------- */
}
.category-text-large {
    font-size: 24px;
    font-weight: 700;
}
.header-text-red {
    color: #F16D7F;
}
/* ------------------------ Блок карточек товаров ---------------------- */
.card-list-header {
    margin-top: 96px;
    font-weight: 400;
    text-align: center;
}
.card-list-header h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #222222;
}
.card-list-header span {
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.card-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: minmax(auto, 360px) minmax(auto, 360px) minmax(auto, 360px);
    grid-template-columns: minmax(auto, 360px) minmax(auto, 360px) minmax(auto, 360px);
    grid-gap: 30px;
    margin-top: 48px;
    margin-bottom: 48px;
    list-style-type: none;
    justify-items: center;
}
.img-card-wrapper {
    background: #f7e4e2;
    height: 420px;
}
.card {
    position: relative;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-header {
    margin-top: 25px;
    margin-left: 18px;
    margin-right: 30px;
}
.card-head {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.card-txt {
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.card-price {
    display: block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.card-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 188px;
    left: 32.7%;
}
.card-button svg {
    fill: #fff;
    margin: 0 11px 0 0;
}
.card:hover .img-card-wrapper {
    background: #3A3838DB;
}
.card:hover .card-button {
    display: flex;
}
.card:hover .card-button:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}
.card:hover .card-button:hover svg {
    fill: #000000;
}
.card:hover .card-button:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.card:hover .card-button:active svg {
    fill: #ffffff;
}
.card:hover .card-img {
    filter: brightness(50%);
}
.card-list-button {
    background-color: white; 
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    cursor: pointer;
}
.card-list-button:hover {
    text-decoration: underline;
}
/* --------------------------- Подвал страницы -------------------------*/
.features {
    margin-top: 95px;
    background: #222224;
}
.features-wrapper {
    padding: 104px 0;
}
.features-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
}
.features-item svg {
    fill: #f16d7f;
    height: 40px;
}
.features-item h3 {
    margin-top: 24px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}
.features-item span {
    margin-top: 16px;
    padding: 0 29px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
/* ---------------------------- Блок подписки --------------------------*/
.subscribe {
    background-image: url(../img/photo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.subscribe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.subscribe-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 97px;
    margin-bottom: 126px;
}
.subscribe-photo-face {
    max-width: 360px;
    width: 100%;
}
.subscribe-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 25px;
}
.subscribe-text span {
    font-style: italic;
}
.subscribe-form-wrapper {
    text-transform: uppercase;
    font-size: 24px;
    /*line-height: 167.2%;*/
    line-height: 40px;
    text-align: center;
    color: #222224;
    margin: 0 104px;
}
.subscribe-title {
    display: block;
    font-weight: 700;
}
.subscribe-subtitle {
    display: block;
    font-weight: 400;
    font-size: 18px;
}
.subscribe-form {
    position: relative;
}
.email {
    margin-top: 20px;
    height: 50px;
}
.subscribe-form-email {
    border-radius: 25px 25px 25px 25px;
    border: none;
    width: 323px;
    background: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    padding-left: 25px;
}
.subscribe-form-button {
    position: absolute;
    width: 100px;
    border: 2px solid #F16D7F;
    border-radius: 0 25px 25px 0;
    background: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    left: 248px;
}
.subscribe-form-button:hover {
    text-decoration: underline;
}
.social-contacts {
    background: #222224;
}
.social-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
}
.social-wrapper span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.social-items {
    display: flex;
    justify-content: space-between;
    width: 148px;
    height: 32px;
}
.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    fill: #000000;
}
.social-item:hover {
    background: #f16d7f;
    fill: #ffffff;
}
.social-item:active {
    transform: scale(1.2);
}
/* -------------------------- Страница catalog ------------------------ */
/* ----------------------- Секция хлебных крошек ---------------------- */
.product-info-content {
    display: flex;
    align-items: center;
    height: 148px;
    background: #f8f3f4;
}
.product-info-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.product-category {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}
.bredgrumb {
    display: flex;
    width: 210px;
    justify-content: space-around;
    list-style-type: none;
}
.bredgrumb a,
.bredgrumb > span {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.bredgrumb a:hover {
    font-weight: 700;
    color: #f16d7f;
}
.bredgrumb a:active {
    font-weight: 300;
    color: #f16d7f;
}
/* --------------------------- Блок фильтров -------------------------- */
/* ------------------------- Фильтр видов товаров --------------------- */    
.product-filter {
    position: relative;
} 
.toolbar {
    margin-top: 50px;
    margin-bottom: 65px;
    overflow: auto;
}
.toolbar-filter {
    color: #000000;
}
.filter-wrp {
    max-width: 360px;
    width: 100%;
    position: absolute;
    top: -15px;
    z-index: 0;
    padding: 15px;
}
.filter-checkbox {
    display: none;
}
.filter {
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   text-transform: uppercase;
   margin-right: 10px;
}
.filter-lst {
    display: block;
    width: 360px;
    font-weight:400;
    font-size: 14px;
    line-height: 17px;
    visibility: hidden;
    margin-top: 15px;
}
.filter-lst-item,
.filter-slst-item {
    list-style-type: none;
}
.filter-lst-item {
    position: relative;
    margin-top: 10px;
    padding: 15px 0 15px 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
}
.filter-lst-item > a {
    color: #f16d7f;
}
.filter-lst-item:before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 37px;
    background: #f16d7f;
    bottom: -1px;
    left: 0;
}
.filter-slst-item {
    margin-top: 10px;
    margin-left: 30px;
}
.filter-slst-item:first-child {
    margin-top: 24px;
}
.filter-slst-item > a {
    color: #6f6e6e;
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:focus-visible {
    color: #f16d7f;
    fill: #f16d7f;
    stroke: #f16d7f;
}
.filter-btn:active {
    color: #000000;
    fill: #000000;
    stroke: #000000;
}
.filter-checkbox:checked ~ .filter-wrp > .filter-btn {
    color: #f16d7f;
    fill: #f16d7f;
    stroke: #f16d7f;
}
.filter-checkbox:checked ~ .filter-wrp > .filter-lst {
    visibility: visible;
}
.filter-checkbox:checked ~ .filter-wrp {
    background-color: #ffffff;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2), -4px -4px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2), -4px -4px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2), -4px -4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.filter-lst-item:hover:before {
    background-color: red;
}
.filter-lst-item:hover > a {
    color: red;
}
.filter-slst-item:hover > a {
    color: #f16d7f;
}
.filter-lst-item:active:before {
    background-color: #cccccc;
}
.filter-lst-item:active > a {
    color: #cccccc;
}
.filter-slst-item:active > a {
    color: black;
}
.filters-sort {
    display: flex;
    justify-content: space-between;
    max-width: 297px;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
}
/* ------------------------ Фильтр модных товаров --------------------- */
.toolbar-list-trend {
    width: 132px;
    border: none;
    background-color: transparent;
}
.filter-trend-btn svg {
    fill: #6f6e6e;
    position: absolute;
    top: 40%;
    right: 0;
}
/* ----------------------- Фильтр размеров товаров -------------------- */
.filter-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
}
.toolbar-list-size {
    width: 80px;
    border: none;
    background-color: transparent;
}
.filter-size-btn {
    display: block;
    width: 100%;
    margin: 0 0 0 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}
.filter-size-btn svg {
    fill: #6f6e6e;
    position: absolute;
    top: 40%;
    left: 49%;
}
.filter-size-btn:hover,
.filter-trend-btn:hover,
.filter-price-btn:hover {
    color: #f16d7f;
}
.filter-size-btn:hover svg,
.filter-trend-btn:hover svg,
.filter-price-btn:hover svg {
    fill: currentColor;
}
.filter-size-btn:active,
.filter-trend-btn:active,
.filter-price-btn:active {
    color: black;
}
.filter-size-btn:active svg,
.filter-trend-btn:active svg,
.filter-price-btn:active svg {
    fill: currentColor;
}
.filter-size,
.filter-trend,
.filter-price {
    display: none;
}
.filter-size:checked ~ .list-size {
    display: flex;
}
.list-size {
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 25px 9.5px 30px;
    box-sizing: border-box;
    background-color: #fff;
}
.filter-size:checked ~ .list-size {
    display: block;
    position: absolute;
    z-index: 3;
}
.list-size-item {
    display: none;
}
.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
    background-image: url("../img/check.png");
    background-size: cover;
    background-position: center;
}
.list-size-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
}
  .list-size-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
}
/* ----------------------- Фильтр по ценам товаров -------------------- */
.toolbar-list-price {
    width: 60px;
    border: none;
    background-color: transparent;
}
.filter-price-btn svg {
    fill: #6f6e6e;
    position: absolute;
    top: 40%;
    right: 0;
}
.filter-trend-btn,
.filter-price-btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}



  