/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Обнуляем стили по-умолчанию */
/* К-т пересчета 1 * 100 / 1600 = 0.0625 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 100%;
    text-decoration: none;
}
button {
    border: none;
    background: transparent;
}
.container {
    max-width: 2560px;
    width: 100%;
}
.content-container {
    /*width: 71.25vw;*/
    width: 100%;
    margin: 0 auto;
}
.flex-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-center {
    margin: auto;
}
/* -------------------------- Шапка страницы -------------------------- */
.header-page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.header-page {
    position: relative;
    width: 100%;
    background-color: #222222;
}
.nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 70.625vw;
    width: 100%;
    padding: 1.25vw 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}
.nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 110px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
/* --------------------- Поиск ---------------------- */
.search-icon-form {
    /*width: 30px;*/
    width: 30px;
    height: 30px;
    margin: 0 0 0 30%;
    position: relative;
}
.search-icon-form-label {
    display: block;
    width: 100%;
    height: 100%;
}
.search-icon-form-label:hover .navbar-search {
    fill: #f16d7f;
}
.search-icon-form-label:active .navbar-search {
    fill: #ffffff;
}
.search-icon-form-input:focus {
    z-index: 3;
    width: 12.5vw;
    transition: width 2s linear;
}
.navbar-search {
    width: 100%;
    height: 100%;
    fill: #fff;
}
.search-icon-form-input {
    width: 0;
    min-height: 1.25vw;
    padding: 0.3125vw;
    outline: none;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    position: absolute;
    top: 0px;
    left: 45px;
    color: #000000;
    font-size: 16px;
    text-transform: capitalize;
    z-index: -1;
}
/* ------------------------ Создаем элемент меню ------------------------- */
.menu-button {
    display: flex;
    width: 32px;
    height: 23px;
    border: none;
    background: transparent;
    color: #e8e8e8;
}
.menu-button:hover {
    transform: scale(1.2);
}
.menu-button:active {
    transform: scale(1);
}
.menu-button-item {
    position: relative;
    width: 100%;
    height: 3px;
    background: currentColor;
    margin: auto;
}
.menu-button-item::before,
.menu-button-item::after {
    content: "";
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: currentColor;
}
.menu-button-item::before {
    top: -10px;
    left: 0;
}
.menu-button-item::after {
    top: 10px;
    left: 0;
}
.menu-button-input {
    display: none;
}
.menu-button-input:checked ~ .menu-btn-lst {
    visibility: visible;
}
.menu-btn-lst {
    display: block;
    position: absolute;
    visibility: hidden;
    padding: 1.0625vw 0 0 2.125vw;
    /*width: 18.2%;*/
    width: 12%;
    height: 46.6875vw;
    top: 100%;
    right: 0;
    list-style-type: none;
    background: #ffffff;
    -webkit-box-shadow: 0vw 0.375vw 0.5vw -0.25vw rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0vw 0.375vw 0.5vw -0.25vw rgba(0, 0, 0, 0.21);
    box-shadow: 0vw 0.375vw 0.5vw -0.25vw rgba(0, 0, 0, 0.21);
    z-index: 10;
}
.menu-btn-item:first-child {
    margin-bottom: 1.5vw;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.menu-btn-item:nth-child(n+2) {
    margin-bottom: 1.25vw;
}
.menu-btn-item > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    text-transform: uppercase;
}
.menu-btn-slst {
    margin-top: 0.75vw;
    margin-left: 1.1875vw;
    list-style-type: none;
}
.menu-btn-slst-item:nth-child(n+2) {
    margin-top: 0.6875vw;
}
.menu-btn-slst-item > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
/* ----------- Эффект наведения и активации элементов меню ------------ */
.menu-btn-item > a:hover {
    border: 3px solid #cccccc;
    border-radius: 0.3125vw;
    background: #cccccc;
    color: #000000
}
.menu-btn-slst-item > a:hover {
    text-decoration: underline;
}
.menu-btn-item > a:active {
    border: 3px solid #ffffff;
    background: #ffffff;
    color: #000000
}
.menu-btn-slst-item > a:active {
    color: #f16d7f;
}
/* -------------------------------------------------------------------- */
.nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 170px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: center;
}
.button-basket {
    position: relative;
    color: #ffffff;
}
.navbar-search,
.navbar-user,
.navbar-basket {
    fill: #e8e8e8;
}
.navbar-search:hover,
.navbar-user:hover,
.navbar-basket:hover {
    transform: scale(1.2); 
}
.navbar-search:active,
.navbar-user:active,
.navbar-basket:active {
    transform: scale(1);
}
.navbar-basket-txt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border: 1px solid red;
    border-radius: 50%;
    color: currentColor;
    background: red;
    /*top: -0.5vw;
    right: -0.6875vw;*/
    top: -8px;
    right: -11px;
}
/* -------------------- Создаем блок брэнда старницы ------------------ */
.brand {
    width: 100%;
    background-color: #F1E4E6;
}
.brand-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
}
.brand-img {
    max-width: 50vw;
    width: 100%;
}
.brand-img > img {
    display: block;
    width: 100%;
}
.brand-txt {
    color: #222222;
}
.brand-titles-wrapper {
    position: relative;
    text-transform: uppercase;
    /*margin-top: 290px;
    margin-left: 93px;*/
    /*margin-top: 18.125%;*/
    /*margin-left: 93px;*/
    margin-top: 18.125vw;
    margin-left: 5.8125vw;
}
.brand-titles-wrapper::before {
    position: absolute;
    content: "";
    display: block;
    width: 0.75vw;
    height: 92px;
    /*height: 5.75vw;*/
    background-color: #f16d7f;
    top: -0.0625vw;
    left: -1.8125vw;
}
.brand-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
 }
.brand-subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.brand-subtitle span {
    color: #f16d7f;
}
/* ----------------------- Блок категорий товаров --------------------- */
.category-list {
    display: -ms-grid;
    display: grid;
    /*grid-template-columns: minmax(auto, 22.5vw) minmax(auto, 22.5vw) minmax(auto, 22.5vw);*/
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-columns: 22.5vw 22.5vw 22.5vw;*/
    /*-ms-grid-columns: minmax(auto, 22.5vw) 1.875vw minmax(auto, 22.5vw) 1.875vw minmax(auto, 22.5vw);*/
    grid-gap: 1.875vw;
    width: 100%;
    margin-top: 4.0625vw;
    list-style-type: none;
    justify-items: center;
}
.category-item {
    position: relative;
    min-width: 100%;
}
.category-item-link {
    display: block;
}
.last-block {
    grid-column: 1 / 4;
    grid-row: 2;
}
.dark-background {
    background: rgb(33, 22, 22);
    overflow: hidden;
}
.dark-background img {
    opacity: 0.3;
    display: block;
    width: 100%;
    height: 100%;
}
.category-item-link:hover img {
    opacity: 0.5;
}
.category-item-link:active img {
    opacity: 1;
}
.category-head-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    /* Выравнивание текста заголовков категорий */
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
/* --------------------------------------- */
}
.category-text-large {
    font-size: 24px;
    font-weight: 700;
}
.header-text-red {
    color: #F16D7F;
}
/* ------------------------ Блок карточек товаров ---------------------- */
.card-list-header {
    margin-top: 6vw;
    font-weight: 400;
    text-align: center;
}
.card-list-header h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #222222;
}
.card-list-header span {
    margin-top: 0.375vw;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.card-list {
    display: grid;
    /*grid-template-columns: 22.5vw 22.5vw 22.5vw;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.875vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    list-style-type: none;
    /*justify-items: center;*/
}
.img-card-wrapper {
    background: #f7e4e2;
    height: 26.25vw;
}
.card {
    position: relative;
    overflow: auto;
    background: #f8f8f8;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-header {
    margin: 1.5625vw 1.875vw 1.25vw 1.125vw;
    box-sizing: border-box;
    /*margin-top: 1.5625vw;
    margin-left: 1.125vw;
    margin-right: 1.875vw;
    margin-bottom: 1.25vw;*/
}
.card-head {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.card-txt {
    margin-top: 0.75vw;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.card-price {
    display: block;
    margin-top: 1.125vw;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.card-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 38.3%;
    /*width: 42%;*/
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 11.75vw;
    left: 32.7%;
}
.card-button svg {
    fill: #fff;
    margin: 0 0.6875vw 0 0;
}
.card:hover .img-card-wrapper {
    background: #3A3838DB;
}
.card:hover .card-button {
    display: flex;
}
.card:hover .card-button:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}
.card:hover .card-button:hover svg {
    fill: #000000;
}
.card:hover .card-button:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.card:hover .card-button:active svg {
    fill: #ffffff;
}
.card:hover .card-img {
    filter: brightness(50%);
}
.card-list-button {
    background-color: white; 
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 0.9375vw 2.1875vw;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    cursor: pointer;
}
.card-list-button:hover {
    text-decoration: underline;
}
.card-list-button:active {
    text-decoration: none;
    transform: scale(1.2);
}
/* --------------------------- Подвал страницы -------------------------*/
.features {
    margin-top: 5.9375vw;
    background: #222224;
}
.features-wrapper {
    /*padding: 6.5vw 0;*/
    max-height: 162.687vw;
    height: 100%;
}
.features-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features-item {
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-pack: center;
    -ms-flex-pack: center;*/
    justify-content: center;
    /*-webkit-box-align: center;
    -ms-flex-align: center;*/
    align-items: center;
    /*-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;*/
    flex-direction: column;
    max-width: 360px;
    width: 100%;
}
.features-item svg {
    fill: #f16d7f;
    height: 31px;
}
.features-item h3 {
    margin-top: 1.5vw;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}
.features-item span {
    margin-top: 1vw;
    padding: 0 1.8125vw;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
/* ---------------------------- Блок подписки --------------------------*/
.subscribe {
    background-image: url(../img/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.subscribe-wrapper {
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-pack: justify;
    -ms-flex-pack: justify;*/
    justify-content: space-between;
    /*-webkit-box-align: center;
    -ms-flex-align: center;*/
    align-items: center;
}
.subscribe-item {
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;*/
    flex-direction: column;
    /*-webkit-box-align: center;
    -ms-flex-align: center;*/
    align-items: center;
    margin-top: 6.0625vw;
    margin-bottom: 7.875vw;
}
.subscribe-photo-face {
    max-width: 22.5vw;
    width: 100%;
}
.subscribe-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 1.5625vw;
}
.subscribe-text span {
    font-style: italic;
}
.subscribe-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
    margin: 0 6.5vw;
}
.subscribe-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 37.73px;
}
.subscribe-subtitle {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.1px
}
.subscribe-form {
    position: relative;
    /*width: 16.1875vw;*/
    width:  100%;
}
.email {
    margin-top: 1.25vw;
    height: 3.125vw;
}
.subscribe-form-email {
    display: block;
    /*position: relative;*/
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    border: none;
    width: 100%;
    background: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    padding-left: 25px;
    box-sizing: border-box;
    /*width: 16.1875vw;*/
}
.subscribe-form-email::placeholder {
    padding-left: 1.5625vw;
}
.subscribe-form-button {
    position: absolute;
    width: 6.25vw;
    border: 2px solid #F16D7F;
    border-radius: 0 25px 25px 0;
    background: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    /*top: -40%;*/
    top: 0;
    /*right: -1.625vw;*/
    right: 0;
}
.subscribe-form-button:hover {
    text-decoration: underline;
}
.social-contacts {
    background: #222224;
}
.social-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.875vw 0;
}
.social-wrapper span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.social-items {
    display: flex;
    justify-content: space-between;
    width: 148px;
    height: 32px;
}
.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    fill: #000000;
}
.social-item:hover {
    background: #f16d7f;
    fill: #ffffff;
}
.social-item:active {
    transform: scale(1.2);
}
/* -------------------------- Страница catalog ------------------------ */
/* ----------------------- Секция хлебных крошек ---------------------- */
.product-info-content {
    display: flex;
    align-items: center;
    height: 148px;
    background: #f8f3f4;
}
.product-info-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.product-category {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}
.breadgrumps {
    display: flex;
    width: 210px;
    justify-content: space-around;
    list-style-type: none;
}
.breadgrumps a,
.breadgrumps-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.breadgrumps-item:last-child > a {
    font-weight: 700;
    color: #f16d7f;
}
.breadgrumps a:hover {
    font-weight: 700;
    color: #f16d7f;
}
.breadgrumps a:active {
    font-weight: 300;
    color: #f16d7f;
}
/* --------------------------- Блок фильтров -------------------------- */
/* ------------------------- Фильтр видов товаров --------------------- */    
.product-filter {
    position: relative;
} 
.toolbar {
    margin-top: 3.125vw;
    margin-bottom: 4.0625vw;
    overflow: auto;
}
.toolbar-filter {
    color: #000000;
}
.filter-wrp {
    /*max-width: 22.5vw;*/
    max-width: 360px;
    width: 100%;
    position: absolute;
    /*top: -0.9375vw;*/
    top: -15px;
    z-index: 0;
    /*padding: 0.9375vw;*/
    padding: 15px;
}
.filter-checkbox {
    display: none;
}
.filter {
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   text-transform: uppercase;
   /*margin-right: 0.625vw;*/
   margin-right: 10px;
}
.filter-lst {
    display: block;
    /*width: 22.5vw;*/
    width: 360px;
    font-weight:400;
    font-size: 14px;
    line-height: 17px;
    visibility: hidden;
    /*margin-top: 0.9375vw;*/
    margin-top: 15px;
}
.filter-lst,
.filter-slst {
    list-style-type: none;
}
.filter-lst-item {
    position: relative;
    /*margin-top: 0.625vw;*/
    margin-top: 10px;
    /*padding: 0.9375vw 0 0.9375vw 0.8125vw;*/
    padding: 15px 0 15px 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
}
.filter-lst-item > a {
    color: #f16d7f;
}
.filter-lst-item:before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 37px;
    background: #f16d7f;
    /*bottom: -0.0625vw;*/
    bottom: -1px;
    left: 0;
}
.filter-slst-item {
    /*margin-top: 0.625vw;
    margin-left: 1.875vw;*/
    margin-top: 10px;
    margin-left: 30px;
}
.filter-slst-item:first-child {
    /*margin-top: 1.5vw;*/
    margin-top: 24px;
}
.filter-slst-item > a {
    color: #6f6e6e;
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:focus-visible {
    color: #f16d7f;
    fill: #f16d7f;
    stroke: #f16d7f;
}
.filter-btn:active {
    color: #000000;
    fill: #000000;
    stroke: #000000;
}
.filter-checkbox:checked ~ .filter-wrp > .filter-btn {
    color: #f16d7f;
    fill: #f16d7f;
    stroke: #f16d7f;
}
.filter-checkbox:checked ~ .filter-wrp > .filter-lst {
    visibility: visible;
}
.filter-checkbox:checked ~ .filter-wrp {
    background-color: #ffffff;
    /*-webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2), -4px -4px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2), -4px -4px 8px 0px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0.25vw 0.25vw 0.75vw 0px rgba(0, 0, 0, 0.2), -0.25vw -0.25vw 0.75vw 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.filter-lst-item:hover:before {
    background-color: red;
}
.filter-lst-item:hover > a {
    color: red;
}
.filter-slst-item:hover > a {
    color: #f16d7f;
}
.filter-lst-item:active:before {
    background-color: #cccccc;
}
.filter-lst-item:active > a {
    color: #cccccc;
}
.filter-slst-item:active > a {
    color: black;
}
.filters-sort,
.filters-color-size-quantity {
    display: flex;
    justify-content: space-between;
    max-width: 297px;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
}
/* ------------------------ Фильтр модных товаров --------------------- */
.toolbar-list-trend,
.toolbar-list-color {
    width: 132px;
    border: none;
    background-color: transparent;
}
.filter-trend-btn svg {
    fill: #6f6e6e;
    position: absolute;
    top: 40%;
    right: 0;
}
/* ----------------------- Фильтр размеров товаров -------------------- */
.filter-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
}
.toolbar-list-size {
    width: 80px;
    border: none;
    background-color: transparent;
}
.filter-size-btn {
    display: block;
    width: 100%;
    margin: 0 0 0 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}
.filter-size-btn svg {
    fill: #6f6e6e;
    position: absolute;
    top: 40%;
    left: 49%;
}
.filter-size-btn:hover,
.filter-trend-btn:hover,
.filter-price-btn:hover {
    color: #f16d7f;
}
.filter-size-btn:hover svg,
.filter-trend-btn:hover svg,
.filter-price-btn:hover svg {
    fill: currentColor;
}
.filter-size-btn:active,
.filter-trend-btn:active,
.filter-price-btn:active {
    color: black;
}
.filter-size-btn:active svg,
.filter-trend-btn:active svg,
.filter-price-btn:active svg {
    fill: currentColor;
}
.filter-size,
.filter-trend,
.filter-price {
    display: none;
}
.filter-size:checked ~ .list-size {
    display: flex;
}
.list-size {
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 25px 9.5px 30px;
    box-sizing: border-box;
    background-color: #fff;
}
.filter-size:checked ~ .list-size {
    display: block;
    position: absolute;
    z-index: 10;
}
.list-size-item {
    display: none;
}
.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
    background-image: url("../img/check.png");
    background-size: cover;
    background-position: center;
}
.list-size-item-title {
    display: block;
    /*margin: 0 0 0.375vw 0;*/
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
}
  .list-size-item-title:before {
    content: "";
    display: block;
    /*width: 0.75vw;
    height: 0.75vw;*/
    width: 12px;
    height: 12px;
    border: 1px solid #ebebeb;
    position: absolute;
    /*top: 0.0625vw;
    left: -1.46875vw;*/
    top: 1px;
    left: -23.5px;
}
/* ----------------------- Фильтр по ценам товаров -------------------- */
.toolbar-list-price,
.toolbar-list-quantity {
    /*width: 3.75vw;*/
    width: 60px;
    border: none;
    background-color: transparent;
}
.filter-price-btn svg {
    fill: #6f6e6e;
    position: absolute;
    top: 40%;
    right: 0;
}
.filter-trend-btn,
.filter-price-btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}
/* ----------------------- Пагинация -------------------- */
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 6vw;
}
.block-pgn {
    max-width: 285px;
    width: 100%;
    padding: 20px 16px;
    border: 1px solid #ebebeb;
}
.block-pgn ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.pgn-arrow {
    fill: #000;
}
.pgn-link,
.pgn-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #c4c4c4;
}
.pgn-arrow:hover svg {
    fill: #ef5b70;
    transform: scale(1.3);
}
.pgn-arrow:active svg {
    fill: #000;
}
.pgn-item:hover > a {
    color: #000;
    font-weight: bold;
}
.pgn-item:active {
    transform: scale(1.3);
}
.pgn-item:active > a {
    color: #ef5b70;
    font-weight: bold;
}
.target {
    color: #ef5b70;
}
/* -------------------------- Страница product ------------------------ */
/* -------------------------- Слайдер товаров ------------------------- */
.carousel {
    position: relative;
    width: 100%;
}
.arrow-left,
.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 2.9375vw;
    height: 2.9375vw;
    background: rgba(42, 42, 42, 0.15);
    border-radius: 15px;
}
.arrow-left svg,
.arrow-right svg {
    fill: #000;
}
.arrow-left:hover svg,
.arrow-right:hover svg {
    fill: #ef5b70;
}
.arrow-left:active svg,
.arrow-right:active svg {
    transform: scale(2.7);
}
.arrow-left {
    left: 0;
}
.arrow-right {
    right: 0;
}
.carousel-viewport {
    width: 100%;
    /*height: 48.5625vw;*/
    height: 777px;
    background-color: #f7f7f7;
    background-image: url(../img/carusel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}
/* -------------------------- Сведения о товаре ----------------------- */
.product-description {
    display: block;
    width: 100%;
    background: #fff;
    transform: translateY(-5.6vh);
    border:  1px solid #eaeaea;
}
.product-description-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-type {
    margin-top: 4.03125vw;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #f16d7f;
}
.red-delimiter {
    margin-top: 0.75vw;
    width: 3.9375vw;
    height: 3px;
    border: none;
    background-color: #ef5b70;
    color: #ef5b70;
}
.advertising-phrase {
    margin-top: 0.75vw;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
}
.content-description {
    margin-top: 3vw;
    width: 34.6875vw;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5e5e5e;
}
.product-pice {
    margin-top: 2vw;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #ef5b70;
}    
.gray-delimiter {
    margin-top: 4.0625vw;
    width: 39vw;
    border: none;
    background-color: #eaeaea;
    color: #eaeaea;
    height: 1px;
}
.filters-color-size-quantity {
    max-width: 373px;
    width: 100%;
    margin-top: 4.0625vw;
}
.toolbar-list-color {
    width: 128px;
}
.toolbar-list-quantity {
    width: 90px;
}
.button-to-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 49px;
    margin-top: 48px;
    margin-bottom: 65px;
    border: 1px solid #ff6a6a;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
}
.button-to-basket svg {
    fill: #f26376;
    margin: 0 23px 0 0;
}
.button-to-basket:hover {
    text-decoration: underline;
}
.button-to-basket:active {
    text-decoration: none;
    transform: scale(1.2);
}
.button-to-basket:active svg {
    transform: scale(1.2);
}
/* -------------------------- Страница card ------------------------ */
.shopping-card-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(auto, 652px) minmax(auto, 360px);
    grid-gap: 128px;
    margin: 96px 0 128px 0;
}
.card-product-list {
    display: flex;
    flex-direction: column;
}
.store-selection {
    display: flex;
    justify-content: right;
}
.product-card {
    display: grid;
    grid-template-rows: minmax(auto, 306px);
    grid-template-columns: minmax(auto, 262px) minmax(auto, 390px);
    grid-gap: 31px;
    box-shadow: 4px 4px 8px 5px rgba(87, 87, 87, 0.15);
}
.shopping-card-img {
    background: #f3eeef;
    box-sizing: border-box; 
}
.shopping-card-img > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-card:last-of-type {
    margin-top: 40px;
}
.shopping-card-info {
    max-width: 262px;
    width: 100%;
}
.shopping-card-header {
    display: block;
    margin-top: 22px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}
.shopping-card-txt {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-top: 6px;
}
.shopping-card-price {
    display: block;
    margin-top: 42px;
}
.shopping-card-price > span {
    color: #ef5b70;
}
.shopping-card-color,
.shopping-card-size {
    display: block;
}
.shopping-card-quantity {
    display: block;
    position: relative;
}
.shopping-card-quantity::after {
    display: block;
    position: absolute;
    content: "2";
    width: 44px;
    height: 25px;
    border: 1px solid #eaeaea;
    text-align: center;
    top: 0;
    left: 119px;
}
.shopping-card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}
.shopping-card-list-button,
.shipping-address-button {
    display: block;
    background-color: white; 
    color: #000000;
    border: 1px solid #a4a4a4;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}
.shopping-card-list-button:hover,
.shipping-address-button:hover {
    text-decoration: underline;
}
.shopping-card-list-button:active,
.shipping-address-button:active {
    text-decoration: none;
    transform: scale(1.2);
}
.address {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.address-item,
.input-fields {
    display: block;
    max-width: 360px;
    width: 100%;
    height: 45px;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    padding-left: 18px;
    color: #606060;
    border: 1px solid #a4a4a4;
    box-sizing: border-box;
    background-color: #ffffff;
}
.address-item,
.input-fields {
    margin-top: 20px;
}
.shipping-address {
    display: block;
    padding-top: 6px;
}
.shipping-address-country::placeholder,
.input-fields::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
}
.shipping-address-state::placeholder,
.shipping-address-code::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    padding-left: 18px;
}
/*.shipping-address-country::placeholder .shipping-address-country::first-letter,
.input-fields::placeholder .input-fields::first-letter {
    text-transform: uppercase;
}*/
.shipping-address-button {
    margin: 20px 0 0 0;
}
.proceed-chekout {
    margin-top: 57px;
    max-width: 360px;
    width: 100%;
    height: 214px;
    overflow: auto;
    background: #f5f3f3;
}
.total-box {
    display: flex;
    justify-content: right;
    margin: 40px 34px 0 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}
.sub-total,
.sub-summa,
.grand-total
.grand-summa {
    display: block;
}
.sub-summa {
    margin-left: 25px;
}
.grant-box {
    display: flex;
    justify-content: right;
    margin: 12px 37px 0 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.grand-summa {
    margin-left: 26px;
    font-weight: 700;
    color: #f16d7f;
}
.chekout-delimiter {
    display: block;
    margin: 21px auto 0 auto;
    width: 275px;
    border: none;
    background-color: #e2e2e2;
    color: #e2e2e2;
    height: 1px;
}
.chekout-button,
.registration-button {
    display: block;
    margin: 17px auto 0 auto;
    padding: 16px 43px;
    background: #f16d7f;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.chekout-button:hover,
.registration-button:hover {
    text-decoration: underline;
}
.chekout-button:active,
.registration-button:active {
    text-decoration: none;
    transform: scale(1.1);
}
/* ---------------------- Страница registration -------------------- */
.registration-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(auto, 360px) minmax(auto, 652px);
    grid-gap: 128px;
    margin: 64px 0 96px 0;
}
.registration {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.your-name,
.login-details {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.your-name::first-letter,
.login-details::first-letter,
.radio-name::first-letter {
    text-transform: uppercase;
}
.gender {
    display: flex;
    justify-content: left;
    margin-top: 31px;
}
.radio {
    display: none;
}
/*.female {
    margin-left: 20px;
}*/
.radio-name {
    display: inline-block;
    position: relative;
	cursor: pointer;
    vertical-align: middle;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}
/*.radio-name::first-letter {
    text-transform: uppercase;
}*/
.radio-name::before {
    content: "";
	display: inline-block;
    margin-right: 10px;
    width: 17px;
    height: 17px;
    border: 1px solid #a4a4a4;
    border-radius: 50%;
    vertical-align: middle;
}
.radio-male::after,
.radio-female::after,
.radio-other::after {
    content: "";
    display: none;
    position: absolute;
    width: 11px;
    height: 11px;
    border: 1px solid #a4a4a4;
    border-radius: 50%;
    background-color: #a4a4a4;
    top: 3px;
    left: 3px;
}
.radio:checked + .radio-male::after {
    display: inline-block;
}
.radio:checked + .radio-female::after {
    display: inline-block;
}
.radio:checked + .radio-other::after {
    display: inline-block;
}
.radio-name:last-child {
    display: none;
}
.radio-female,
.radio-other {
    margin-left: 20px;
}
.login-details {
    margin-top: 33px;
}
.regulations {
    display: block;
    margin-top: 15px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
}
.registration-button {
    max-width: 167px;
    width: 100%;
    margin: 39px 0 0 0;
}
.loyality-txt {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.loyality-box > h3 {
    text-transform: uppercase;
}
.loyality-box > p {
    margin-top: 22px;
}
.loyality-list {
    margin-top: 21px;
    list-style-type: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.loyality-list > li:nth-child(n+1) {
    margin-top: 16px;
}
.loyality-list > li:before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 16px;
    border: none;
    background-image: url("../img/check-black.png");
    margin-right: 22px;
}

/* К-т пересчета 1 * 100 / 768 = 0.1302 */
@media only screen and (max-width: 768px) {

    .content-container {
        width: 95.874vw;
    }
    .nav-items {
        max-width: 91.6608vw;
        width: 100%;
}
    .brand-title {
    `   font-weight: 900;
        font-size: 44px;
        line-height: 52.8px;
    }
    .brand-subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
`   }
    .card-list-header {
        margin-top: 20.17vw;
    }
    .card-list {
        grid-template-columns: 1fr 1fr;
        margin-top: 4.1664vw;
        margin-bottom: 4.1664vw;
    }
    .img-card-wrapper {
        height: 54.684vw;
    }
    .card-button {
        top: 25.75vw;
        left: 32.7%;
    }
    .features {
        margin-top: 8.3328vw;
    }
    .features-wrapper {
        padding: 3.03125vw 0 8.3328vw 0;
    }
    .features-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-item {
        margin-top: 3.03125vw;
    }
    .subscribe-wrapper {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
   .subscribe-photo-face {
        max-width: 46.8vw;
    } 
   .subscribe-item {
        margin-top: 8.3328vw;
        margin-bottom: 9.765vw;
    }
    .subscribe-text {
        margin-top: 3.906vw;
    }
    .subscribe-title {
        font-size: 18px;
        line-height: 29.16px;
    }
    .subscribe-subtitle {
        font-size: 18px;
        line-height: 27.36px
    }
    .email {
        margin-top: 3.5154vw;
        height: 6.3798vw;
        margin-bottom: 18.228vw;
    }
    .subscribe-form-button {
        width: 12.8898vw;
    }

    /* -------------------------- Страница catalog ------------------------ */
    .product-info-content {
        height: 148px;
    }
    .filters-sort {
        margin-right: 10px;
    }
    #catalog .card-list > li:nth-child(3) {
        display: none;
    }

    /* -------------------------- Страница product ------------------------ */
    .carousel-viewport {
        height: 624px;
    }
    .product-description {
        transform: translateY(0);
        border-style: solid;
        border-width: 1px 0 1px 0;
        border-color: #eaeaea;
    }

    /* --------------------------- Страница card ------------------------- */
    .shopping-card-container {
        grid-template-columns:  1fr;
        grid-gap: 40px;
        margin: 64px 0 128px 0;
    }
    .shopping-card-buttons {
        justify-content: center;
        margin-top: 62px;
        overflow: hidden;
    }
    .shopping-card-list-button:first-child {
        margin-right: 24.2px;
    }
    .shopping-card-list-button:last-child {
        margin-left: 24.2px;
    }
    .card-shipping {
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-gap: 15px;
    }

    /* ---------------------- Страница registration --------------------- */
    .registration-container {
        grid-template-columns: minmax(auto, 360px) minmax(auto, 354px);
        grid-gap: 22px;
    }
    .radio-name:last-child {
        display: inline-block;
    }
    .loyality-txt {
        font-size: 16px;
        line-height: 19px;
    }
    .loyality-list {
        font-size: 16px;
        line-height: 19px;
    }
    .loyality-list > li:nth-child(2) {
    
    }
}

/* К-т пересчета 1 * 100 / 375 = 0.2667 */
@media only screen and (max-width: 375px) {

    .content-container {
        max-width: 343px;
        width: 100%;
    }
    .nav-right {
        width: 32px;
    }
    .personal-area,
    .button-basket,
    .brand-img {
        display: none;
    }
    .brand-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 363px;
    }
    .brand-titles-wrapper {
        margin: 0;
    }
    .brand-titles-wrapper::before {
        width: 3.2004vw;
        height: 61px;
        top: 1.4vw;
        left: -6vw;
    }
    .brand-title {
        font-size: 38px;
        line-height: 46px;
    }
    .brand-subtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .category-list {
        grid-template-columns: 1fr;
        margin-top: 17.0688vw;
        margin-bottom: 10.668vw;
        grid-gap: 8.5344vw;
    }
    .last-block {
        grid-column: 1 / 1;
        grid-row: 4;
    }
    .category-item-link {
        min-height: 111px;
        height: 100%;
    }
    .last-block img {
        height: 100%;
    }
    .card-list-header {
        margin-top: 17.0688vw;
    }
    .card-list {
        grid-template-columns: 1fr;
        margin-top: 17.0688vw;
        margin-bottom: 10.668vw;
        grid-gap: 8.5344vw;
    }
    .img-card-wrapper {
        max-height: 400px;
        height: 100%;
    }
    .card-button {
        top: 46.75vw;
    }
    .card-header {
        margin: 6.4008vw 7.7343vw 5.334vw 4.8006vw;
    }
    .card-txt {
        margin-top: 3.2004vw;
    }
    .card-price {
        margin-top: 4.5339vw;
    }
    .card-list-button {
        padding: 4vw 10.668vw;
    }
    .features {
        margin-top: 25.6032vw;
    }
    .features-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .features-wrapper {
        padding: 12.8016vw 0 21.336vw;
    }
    .features-item:not(:first-child) {
        margin-top: 47px;
    }
    .features-item h3 {
        margin-top: 7.2009vw;
    }
    .features-item span {
        margin-top: 4.005vw;
    }
    .subscribe-photo-face {
        max-width: 94.4781vw;
    }
    .subscribe-form-wrapper {
        max-width: 82.4103vw;
        width: 100%;
    }
    .subscribe-text {
        font-size: 18px;
        line-height: 22px;
    }
    .subscribe-subtitle {
        font-size: 14px;
        line-height: 21px;
    }
    .email {
        height: 12.5349vw;
    }
    .subscribe-form-button {
        width: 25.3365vw;
    }
    .social-wrapper {
        flex-flow: column wrap;
        padding: 11.4681vw 0 2.4003vw 0;
    }
    .social-wrapper span {
        order: 2;
        margin-top: 10.668vw;
    }
    .social-items {
        order: 1;
    }
}